<h1>Listing uploads</h1>

<div id='fillers'>
			<div class='fillerBox'></div>
		</div>
<br>

<%= link_to 'New Upload', new_upload_path %>

  
  <div id="outer">
 <!-- the 'your thoughts' bit would be nice as a png in blue font-->



    <% @uploads.each do |upload| %>
      <div class="inner">
        <div class="posttitle"><%= upload.name %><br></div>
        <%= link_to 'Show', upload %>
        <%= link_to 'Edit', edit_upload_path(upload) %>
        <%= link_to 'Destroy', upload, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%= upload.description %>
        	<div id='fillers'>
			<div class='fillerBox'></div>
		</div>
  </div>
    <% end %>
  </div>

</div>


<script>
		$(function()
			$("#outer").mason({
				itemSelector: ".inner",
				ratio: 1.5,
    sizes: [
          [1,3],
          [2,3],
          [1,4],
          [2,4]
    ],
        filler: {
        itemSelector: '.fillerBox',
        filler_class: 'custom_filler'
        },
				layout: 'fluid',
				gutter: 10
			});
		});
		</script>